<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Shougun.Core.SalesPayment.UriageShiharaiNyuuryoku.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Shougun.Core.SalesPayment.UriageShiharaiNyuuryoku.Properties.Settings>
            <setting name="ApDenpyouCtrl" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>KYOTEN_CD:拠点CD:True:0</string>
                        <string>NYUURYOKU_TANTOUSHA_CD:入力担当者:True:1</string>
                        <string>ENTRY_NUMBER:売上/支払番号:True:5</string>
                        <string>RENBAN:年連番/日連番:True:6</string>
                        <string>KAKUTEI_KBN:確定区分:True:7</string>
                        <string>UKETSUKE_NUMBER:受付番号:True:8</string>
                        <string>DENPYOU_DATE:伝票日付:True:10</string>
                        <string>URIAGE_DATE:売上日付:True:11</string>
                        <string>SHIHARAI_DATE:支払日付:True:12</string>
                        <string>GYOUSHA_CD:業者CD:True:13</string>
                        <string>GYOUSHA_NAME_RYAKU:業者名:True:14</string>
                        <string>GENBA_CD:現場CD:True:15</string>
                        <string>GENBA_NAME_RYAKU:現場名:True:16</string>
                        <string>TORIHIKISAKI_CD:取引先CD:True:17</string>
                        <string>TORIHIKISAKI_NAME_RYAKU:取引先名:True:18</string>
                        <string>NIZUMI_GYOUSHA_CD:荷積業者CD:True:19</string>
                        <string>NIZUMI_GYOUSHA_NAME:荷積業者名:True:20</string>
                        <string>NIZUMI_GENBA_CD:荷積現場CD:True:21</string>
                        <string>NIZUMI_GENBA_NAME:荷積現場名:True:22</string>
                        <string>NIOROSHI_GYOUSHA_CD:荷降業者CD:True:23</string>
                        <string>NIOROSHI_GYOUSHA_NAME:荷降業者名:True:24</string>
                        <string>NIOROSHI_GENBA_CD:荷降現場CD:True:25</string>
                        <string>NIOROSHI_GENBA_NAME:荷降現場名:True:26</string>
                        <string>UNPAN_GYOUSHA_CD:運搬業者CD:True:27</string>
                        <string>UNPAN_GYOUSHA_NAME:運搬業者名:True:28</string>
                        <string>SHASHU_CD:車種CD:True:29</string>
                        <string>SHARYOU_CD:車輌CD:True:31</string>
                        <string>SHARYOU_NAME_RYAKU:車輌名:True:32</string>
                        <string>UNTENSHA_CD:運転者CD:True:33</string>
                        <string>NINZUU_CNT:人数:True:35</string>
                        <string>KEITAI_KBN_CD:形態区分CD:True:36</string>
                        <string>MANIFEST_SHURUI_CD:マニ種類CD:True:38</string>
                        <string>MANIFEST_TEHAI_CD:マニ手配CD:True:40</string>
                        <string>EIGYOU_TANTOUSHA_CD:営業担当者CD:True:42</string>
                        <string>DENPYOU_BIKOU:伝票備考:True:44</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ApDetailCtrl" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>HINMEI_CD:品名CD:True:3</string>
                        <string>HINMEI_NAME:品名:True:4</string>
                        <string>SUURYOU:数量:True:7</string>
                        <string>UNIT_CD:単位CD:True:8</string>
                        <string>TANKA:単価:True:10</string>
                        <string>KINGAKU:金額:True:11</string>
                        <string>MANIFEST_ID:ﾏﾆﾌｪｽﾄ番号:True:13</string>
                        <string>MEISAI_BIKOU:備考:True:14</string>
                    </ArrayOfString>
                </value>
            </setting>
        </Shougun.Core.SalesPayment.UriageShiharaiNyuuryoku.Properties.Settings>
    </applicationSettings>
</configuration>