<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Shougun.Core.PaperManifest.HenkyakuIchiran.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Shougun.Core.PaperManifest.HenkyakuIchiran.Properties.Settings>
            <setting name="SET_MANIFESUTO" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SET_HIDSUKE" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SET_HENCYAKU" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SET_HIDUKE_TO" serializeAs="String">
                <value />
            </setting>
            <setting name="SET_HIDUKE_FROM" serializeAs="String">
                <value />
            </setting>
            <setting name="SET_HAISHUTSUJIGYOUSYA_CD" serializeAs="String">
                <value />
            </setting>
            <setting name="SET_KOUFUBANNGO" serializeAs="String">
                <value />
            </setting>
            <setting name="SET_HITSUKEIKATSU" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SET_HAISHUTSUJIGYOUSYAJOU_CD" serializeAs="String">
                <value />
            </setting>
            <setting name="SET_HAISHUTSUJIGYOUSYAJOU_NAME" serializeAs="String">
                <value />
            </setting>
            <setting name="SET_HENSOUSAKI_TORIHIKISAKI_CD" serializeAs="String">
                <value />
            </setting>
            <setting name="SET_HENSOUSAKI_TORIHIKISAKI_NAME" serializeAs="String">
                <value />
            </setting>
            <setting name="SET_HENSOUSAKI_GYOUSYA_CD" serializeAs="String">
                <value />
            </setting>
            <setting name="SET_HENSOUSAKI_GYOUSYA_NAME" serializeAs="String">
                <value />
            </setting>
            <setting name="SET_HENSOUSAKI_GENBA_CD" serializeAs="String">
                <value />
            </setting>
            <setting name="SET_HENSOUSAKI_GENBA_NAME" serializeAs="String">
                <value />
            </setting>
            <setting name="SET_HAISHUTSUJIGYOUSYA_NAME" serializeAs="String">
                <value />
            </setting>
            <setting name="SET_IKATSU_NYURYOKU" serializeAs="String">
                <value />
            </setting>
            <setting name="SET_BARCODE_KBN" serializeAs="String">
                <value />
            </setting>
            <setting name="SET_HENKYAKUBI" serializeAs="String">
                <value />
            </setting>
            <setting name="SET_KOUFUBANGO_HYOU" serializeAs="String">
                <value />
            </setting>
            <setting name="SET_SBN_GYOUSHA_CD" serializeAs="String">
                <value />
            </setting>
            <setting name="SET_SBN_GYOUSHA_NAME" serializeAs="String">
                <value />
            </setting>
            <setting name="SET_SBN_GENBA_CD" serializeAs="String">
                <value />
            </setting>
            <setting name="SET_SBN_GENBA_NAME" serializeAs="String">
                <value />
            </setting>
        </Shougun.Core.PaperManifest.HenkyakuIchiran.Properties.Settings>
    </userSettings>
</configuration>