<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Shougun.Core.ElectronicManifest.TuuchiJouhouShoukai.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Shougun.Core.ElectronicManifest.TuuchiJouhouShoukai.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Shougun.Core.ElectronicManifest.TuuchiJouhouShoukai.Properties.Settings>
            <setting name="tuuchiBiFrom" serializeAs="String">
                <value />
            </setting>
            <setting name="tuuchiBiTo" serializeAs="String">
                <value />
            </setting>
            <setting name="readFlag" serializeAs="String">
                <value />
            </setting>
            <setting name="tuuchiCd" serializeAs="String">
                <value />
            </setting>
        </Shougun.Core.ElectronicManifest.TuuchiJouhouShoukai.Properties.Settings>
        <Shougun.Core.ElectronicManifest.TuuchiJouhouShoukai.Settings>
            <setting name="tuuchiBiFrom" serializeAs="String">
                <value />
            </setting>
            <setting name="tuuchiBiTo" serializeAs="String">
                <value />
            </setting>
            <setting name="readFlag" serializeAs="String">
                <value />
            </setting>
            <setting name="tuuchiCd" serializeAs="String">
                <value />
            </setting>
        </Shougun.Core.ElectronicManifest.TuuchiJouhouShoukai.Settings>
    </userSettings>
</configuration>