<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Shougun.Core.SalesPayment.Denpyouichiran.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <userSettings>
        <Shougun.Core.SalesPayment.Denpyouichiran.Properties.Settings>
            <setting name="SET_KYOTEN_CD" serializeAs="String">
                <value />
            </setting>
            <setting name="SET_HIDUKE_TO" serializeAs="String">
                <value />
            </setting>
            <setting name="SET_HIDUKE_FROM" serializeAs="String">
                <value />
            </setting>
            <setting name="SET_HIDUKESENTAKU" serializeAs="String">
                <value />
            </setting>
            <setting name="SET_TORIHIKISAKI" serializeAs="String">
                <value />
            </setting>
            <setting name="SET_GYOUSYA" serializeAs="String">
                <value />
            </setting>
            <setting name="SET_GENNBA" serializeAs="String">
                <value />
            </setting>
            <setting name="SET_UNBANGYOUSYA" serializeAs="String">
                <value />
            </setting>
            <setting name="SET_NIOTOSUGYOUSYA" serializeAs="String">
                <value />
            </setting>
            <setting name="SET_NIOTOSUBA" serializeAs="String">
                <value />
            </setting>
            <setting name="SET_DENPYO_KIND_CD" serializeAs="String">
                <value />
            </setting>
            <setting name="SET_DENPYO_KBN_CD" serializeAs="String">
                <value />
            </setting>
            <setting name="SET_KENSHU_MUST_KBN" serializeAs="String">
                <value />
            </setting>
            <setting name="SET_KENSHU_JYOUKYOU" serializeAs="String">
                <value />
            </setting>
        </Shougun.Core.SalesPayment.Denpyouichiran.Properties.Settings>
    </userSettings>
</configuration>