<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Shougun.Core.Scale.KeiryouIchiran.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <userSettings>
        <Shougun.Core.Scale.KeiryouIchiran.Properties.Settings>
            <setting name="SET_KYOTEN_CD" serializeAs="String">
                <value />
            </setting>
            <setting name="SET_HIDUKE_TO" serializeAs="String">
                <value />
            </setting>
            <setting name="SET_HIDUKE_FROM" serializeAs="String">
                <value />
            </setting>
            <setting name="SET_TORIHIKISAKI_CD" serializeAs="String">
                <value />
            </setting>
            <setting name="SET_GYOUSHA_CD" serializeAs="String">
                <value />
            </setting>
            <setting name="SET_GENBA_CD" serializeAs="String">
                <value />
            </setting>
            <setting name="SET_UNPAN_GYOUSHA_CD" serializeAs="String">
                <value />
            </setting>
            <setting name="SET_KIHON_KEIRYOU_CD" serializeAs="String">
                <value />
            </setting>
            <setting name="SET_KEIRYOU_KBN_CD" serializeAs="String">
                <value />
            </setting>
            <setting name="SET_KEIRYOU_JYOUKYOU_CD" serializeAs="String">
                <value />
            </setting>
            <setting name="SET_SHASHU_CD" serializeAs="String">
                <value />
            </setting>
            <setting name="SET_SHARYOU_CD" serializeAs="String">
                <value />
            </setting>
            <setting name="tadasigaki" serializeAs="String">
                <value />
            </setting>
        </Shougun.Core.Scale.KeiryouIchiran.Properties.Settings>
    </userSettings>
</configuration>