<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ItakuKeiyakushoIchiran.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <userSettings>
    <ItakuKeiyakushoIchiran.Properties.Settings>
      <setting name="DATE_SELECT_TEXT" serializeAs="String">
        <value />
      </setting>
      <setting name="DATE_FROM" serializeAs="String">
        <value />
      </setting>
      <setting name="DATE_TO" serializeAs="String">
        <value />
      </setting>
      <setting name="ICHIRAN_ALERT_KENSUU" serializeAs="String">
        <value />
      </setting>
      <setting name="ITAKU_KEIYAKU_NO_TEXT" serializeAs="String">
        <value />
      </setting>
      <setting name="ICHIRAN_HYOUJI_JOUKEN_DELETED" serializeAs="String">
        <value>False</value>
      </setting>
    </ItakuKeiyakushoIchiran.Properties.Settings>
  </userSettings>
</configuration>
