<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Shougun.Core.ReceiptPayManagement.Syukinnyuryoku.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <userSettings>
        <Shougun.Core.ReceiptPayManagement.Syukinnyuryoku.Properties.Settings>
            <setting name="SET_BANK_CD" serializeAs="String">
                <value />
            </setting>
            <setting name="SET_BANK_SHITEN_CD" serializeAs="String">
                <value />
            </setting>
            <setting name="SET_KOUZA_NO" serializeAs="String">
                <value />
            </setting>
        </Shougun.Core.ReceiptPayManagement.Syukinnyuryoku.Properties.Settings>
    </userSettings>
</configuration>