<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ZipCodeHoshu.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <userSettings>
    <ZipCodeHoshu.Properties.Settings>
      <setting name="LIST_POST3_TEXT" serializeAs="String">
        <value />
      </setting>
      <setting name="LIST_POST7_TEXT" serializeAs="String">
        <value />
      </setting>
      <setting name="KOBETSU_POST7_OLD_TEXT" serializeAs="String">
        <value />
      </setting>
      <setting name="KOBETSU_SIKUCHOUSON_OLD_TEXT" serializeAs="String">
        <value />
      </setting>
      <setting name="KOBETSU_POST7_NEW_TEXT" serializeAs="String">
        <value />
      </setting>
      <setting name="KOBETSU_SIKUCHOUSON_NEW_TEXT" serializeAs="String">
        <value />
      </setting>
    </ZipCodeHoshu.Properties.Settings>
  </userSettings>
</configuration>
