<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ShainHoshu.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <ShainHoshu.Properties.Settings>
      <setting name="ConditionValue_Text" serializeAs="String">
        <value />
      </setting>
      <setting name="ICHIRAN_HYOUJI_JOUKEN_DELETED" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ConditionValue_DBFieldsName" serializeAs="String">
        <value />
      </setting>
      <setting name="ConditionValue_ItemDefinedTypes" serializeAs="String">
        <value />
      </setting>
      <setting name="S" serializeAs="String">
        <value />
      </setting>
    </ShainHoshu.Properties.Settings>
  </userSettings>
</configuration>