<?xml version="1.0"?>
<configuration>
  <!-- [log4net.config] -->
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="seasar" type="Seasar.Framework.Xml.S2SectionHandler, Seasar" />
  </configSections>
  <appSettings>
    <!-- log4net 内部のデバッグメッセージを出力 -->
    <add key="log4net.Internal.Debug" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <log4net>
    <!-- コンソール出力用 (VS 上 [出力] ウインドウへの出力) -->
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <!-- 出力文字列のフォーマット -->
      <layout type="log4net.Layout.PatternLayout">
        <!--^「日付、スレッド、レベル、logger名、メッセージ」が出力^-->
        <!--^「%-5p」というのは5文字以下の場合、右側に空白を入れる設定^-->
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>
    </appender>
    <!-- ファイル出力用 -->
    <appender name="DailyFileAppender" type="log4net.Appender.RollingFileAppender">
      <!-- ログファイルの切替 { サイズ: Size, 日付: Date } -->
      <param name="RollingStyle" value="Date" />
      <!-- ファイル名(nulのままにすること。PGでUser/DB別にログ保存先を動的に変更する) -->
      <param name="File" value="nul" />
      <!-- ファイル名に付加する日付パターン -->
      <param name="DatePattern" value="&quot;R&quot;yyyyMMdd&quot;.log&quot;" />
      <!-- ファイル名の固定 -->
      <param name="StaticLogFileName" value="false" />
      <!-- ファイル書き込み { 追記: true, 上書き: false } -->
      <param name="AppendToFile" value="true" />
      <!-- 最大保存ファイル数 (古い順に削除) -->
      <param name="MaxSizeRollBackups" value="32" />
      <!-- 出力文字列のフォーマット -->
      <layout type="log4net.Layout.PatternLayout">
        <header type="log4net.Util.PatternString" value="[task time = &quot;%date{HH:mm:ss,fff}&quot;]%newline" />
        <footer type="log4net.Util.PatternString" value="[/task]%newline" />
        <conversionPattern value="%-5level %date{yyyy/MM/dd HH:mm:ss, fff} [%thread] %logger - %message%newline" />
      </layout>
      <!-- 出力するログ レベルのフィルタ -->
      <!-- Level : Fatal, Error, Warn, Info, Debug -->
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="Debug" />
        <levelMax value="Fatal" />
      </filter>
    </appender>
    <!-- イベント ログ出力用 -->
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
      <!-- イベント ログ上のアプリケーション名 -->
      <applicationName value="R-Shougun" />
      <!-- 出力文字列のフォーマット -->
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5level %date{yyyy/MM/dd_HH:mm:ss,fff} [%thread] %logger [%property{NDC}] - %message%newline" />
      </layout>
      <!-- 出力するログ レベルのフィルタ -->
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR" />
        <levelMax value="FATAL" />
      </filter>
    </appender>
    <!-- デフォルトの出力設定 -->
    <root>
      <level value="ALL" />
      <appender-ref ref="DailyFileAppender" />
    </root>
  </log4net>
  <seasar>
    <!--ルートのdiconファイルを設定 -->
    <configPath>dicon\App.dicon</configPath>
    <assemblys>
      <!--読み込むアセンブリ-->
      <assembly>Seasar</assembly>
      <assembly>Seasar.Dao</assembly>
      <assembly>Seasar.Quill</assembly>
      <assembly>AtenaLabel</assembly>
      <assembly>BankHoshu</assembly>
      <assembly>BankIkkatsu</assembly>
      <assembly>BankShitenHoshu</assembly>
      <assembly>BookmarkHoshu</assembly>
      <assembly>BunruiHoshu</assembly>
      <assembly>BushoHoshu</assembly>
      <assembly>BusinessCommon</assembly>
      <assembly>CalendarPopup</assembly>
      <assembly>ChiikibetsuBunruiHoshu</assembly>
      <assembly>ChiikibetsuGyoushuHoshu</assembly>
      <assembly>ChiikibetsuJuushoHoshu</assembly>
      <assembly>ChiikibetsuKyokaBangoHoshu</assembly>
      <assembly>ChiikibetsuShisetsuHoshu</assembly>
      <assembly>ChiikibetsuShobunHoshu</assembly>
      <assembly>ChiikiHoshu</assembly>
      <assembly>ChouhyouPatternPopup</assembly>
      <assembly>CommonChouhyouPopup</assembly>
      <assembly>CommonChouhyouViewer</assembly>
      <assembly>Const</assembly>
      <assembly>ContenaHoshu</assembly>
      <assembly>ContenaIchiran</assembly>
      <assembly>ContenaJoukyouHoshu</assembly>
      <assembly>ContenaPopup</assembly>
      <assembly>ContenaShitei</assembly>
      <assembly>ContenaShuruiHoshu</assembly>
      <assembly>ContenaSousaHoshu</assembly>
      <assembly>CorpInfoNyuuryokuHoshu</assembly>
      <assembly>CourseHaishaIraiNyuuryoku</assembly>
      <assembly>CourseNameHoshu</assembly>
      <assembly>CourseNyuryoku</assembly>
      <assembly>CustomControls_Ex</assembly>
      <assembly>DainoDenpyoHakkou</assembly>
      <assembly>DainoMeisaihyo</assembly>
      <assembly>DainoNyuryuku</assembly>
      <assembly>DainoSyukeihyo</assembly>
      <assembly>DenManiHaikiNameHoshu</assembly>
      <assembly>DenManiHaikiShuruiHoshu</assembly>
      <assembly>DenManiJigyoujouHoshu</assembly>
      <assembly>DenManiJigyoujouMihimodukeIchiran</assembly>
      <assembly>DenManiJigyoujyouIchiran</assembly>
      <assembly>DenManiJigyoushaHoshu</assembly>
      <assembly>DenManiJigyoushaIchiran</assembly>
      <assembly>DenManiJigyoushaMihimodukeIchiran</assembly>
      <assembly>DenManiTantoushaHoshu</assembly>
      <assembly>DenManiYuugaiBusshitsuHoshu</assembly>
      <assembly>DenpyouHakou</assembly>
      <assembly>DenpyouHimodukeIchiran</assembly>
      <assembly>DenpyouhimozukePatternIchiran</assembly>
      <assembly>Denpyouichiran</assembly>
      <assembly>DenPyouKbnHoshu</assembly>
      <assembly>DenpyouRenkeiIchiran</assembly>
      <assembly>DenshiCSVTorikomu</assembly>
      <assembly>DenshiManifestNyuryoku</assembly>
      <assembly>DenshiManifestPatternTouroku</assembly>
      <assembly>KongouHaikibutsuFuriwake</assembly>
      <assembly>DenShuKbnHoshu</assembly>
      <assembly>EigyoTantoushaIkkatsu</assembly>
      <assembly>EigyouTantoushaHoshu</assembly>
      <assembly>EigyouYojitsuKanrihyou</assembly>
      <assembly>EigyoYosanNyuuryoku</assembly>
      <assembly>FukusuuSentakuPopup</assembly>
      <assembly>GenbaHoshu</assembly>
      <assembly>GenbaIchiran</assembly>
      <assembly>GenchakuJikanHoshu</assembly>
      <assembly>GennyouritsuHoshu</assembly>
      <assembly>GyoushaHoshu</assembly>
      <assembly>GyoushaIchiran</assembly>
      <assembly>GyoushuHoshu</assembly>
      <assembly>GyousyaKensaku</assembly>
      <assembly>HaikibutuTyoubo</assembly>
      <assembly>HaikiKbnHoshu</assembly>
      <assembly>HaikiNameHoshu</assembly>
      <assembly>HaikiShuruiHoshu</assembly>
      <assembly>HaishaMeisai</assembly>
      <assembly>HaishaWariateDay</assembly>
      <assembly>HannyushutsuIchiran</assembly>
      <assembly>HannyuusakiKyuudouNyuuryoku</assembly>
      <assembly>HenkyakuIchiran</assembly>
      <assembly>HensoSakiAnnaisho</assembly>
      <assembly>HikiaiGenbaHoshu</assembly>
      <!--G614-->
      <assembly>GenbaKakunin</assembly>
      <!--G614-->
      <assembly>HikiaiGenbaIchiran</assembly>
      <assembly>HikiaiGyousha</assembly>
      <assembly>HikiaiGyoushaIchiran</assembly>
      <assembly>HikiaiKizonKensakuPopup</assembly>
      <assembly>HikiaiKizonKensakuPopupForMultiKey</assembly>
      <assembly>HikiaiTorihikisakiHoshu</assembly>
      <assembly>HikiaiTorihikisakiIchiran</assembly>
      <assembly>HinmeiHoshu</assembly>
      <assembly>DenshiShinSeiKeiroName</assembly>
      <assembly>HizukeSentakuPopup</assembly>
      <assembly>HoukokushoBunruiHoshu</assembly>
      <assembly>IchiranCommon</assembly>
      <assembly>IchiranSyu</assembly>
      <assembly>IchiranSyuDenpyou</assembly>
      <assembly>InsatsuBusuSettei</assembly>
      <assembly>InsatsuSettei</assembly>
      <assembly>ItakuKeiyakuHoshu</assembly>
      <assembly>ItakuKeiyakuSearch</assembly>
      <assembly>ItakuKeiyakushoIchiran</assembly>
      <assembly>ItakuKeiyakushoKyokashoKigenHoshu</assembly>
      <assembly>ItemViewPopup</assembly>
      <assembly>JissekiUriageShiharaiKakutei</assembly>
      <assembly>JuchuuMokuhyouKensuuNyuuryoku</assembly>
      <assembly>JuchuuYojitsuKanrihyou</assembly>
      <assembly>JushoKensakuPopup2</assembly>
      <assembly>KaikakekinItiranHyo</assembly>
      <assembly>KaisyaKyujitsuHoshu</assembly>
      <assembly>KaisyuuHinmeShousai</assembly>
      <assembly>Kakepopup</assembly>
      <assembly>KansanHoshu</assembly>
      <assembly>KaraContenaIchiranHyou</assembly>
      <assembly>ContenaRirekiIchiranHyou</assembly>
      <assembly>KeijouHoshu</assembly>
      <assembly>Keiryou</assembly>
      <assembly>KeiryouChouseiHoshu</assembly>
      <assembly>KeitaiKbnHoshu</assembly>
      <assembly>KenpaiManifestoNyuryoku</assembly>
      <assembly>KensakuKekkaIchiran</assembly>
      <assembly>KensakuKyoutsuuPopup</assembly>
      <assembly>KensakuKyoutsuuPopupForMultiKey</assembly>
      <assembly>KenshuIchiranJokenShiteiPopup</assembly>
      <assembly>KenshuMeisaiNyuryoku</assembly>
      <assembly>KensyuuIchiran</assembly>
      <assembly>KihonHinmeiTankaHoshu</assembly>
      <assembly>KobestuHinmeiTankaIkkatsu</assembly>
      <assembly>KobetsuHinmeiTankaHoshu</assembly>
      <assembly>KokyakuKarute</assembly>
      <assembly>KongouHaikibutsuHoshu</assembly>
      <assembly>KongouShuruiHoshu</assembly>
      <assembly>KoufuJoukyouHoukokushoIchiran</assembly>
      <assembly>KoufuJoukyouHoukokushoPopup</assembly>
      <assembly>KyotenHoshu</assembly>
      <assembly>KyoutsuuIchiran</assembly>
      <assembly>ManifestCheckHyo</assembly>
      <assembly>ManifestHimoduke</assembly>
      <assembly>ManifestIchiran</assembly>
      <assembly>ManifestKansanHoshu</assembly>
      <assembly>Manifestmeisaihyo</assembly>
      <assembly>ManifestNyuryokuIkkatsu</assembly>
      <assembly>ManifestPattern</assembly>
      <assembly>ManifestPatternTouroku</assembly>
      <assembly>ManiFestShuRuiHoshu</assembly>
      <assembly>Manifestsuiihyo</assembly>
      <assembly>ManifestsuiihyoIchiran</assembly>
      <assembly>ManiFestTeHaiHoshu</assembly>
      <assembly>MasterCommon</assembly>
      <assembly>MasterKyoutsuPopup2</assembly>
      <assembly>MasutaKensakuPopup</assembly>
      <assembly>MeisaihyoSyukeihyoJokenShiteiPopup</assembly>
      <assembly>MeisaihyoSyukeihyoPatternSentakuPopup</assembly>
      <assembly>MenuKengenHoshu</assembly>
      <assembly>MihimodukeIchiran</assembly>
      <assembly>MinyukinIchiranhyo</assembly>
      <assembly>MinyuukinIchiran</assembly>
      <assembly>MishukkinIchiranhyo</assembly>
      <assembly>MitsumoriNyuryoku</assembly>
      <assembly>MitumoriIchiran</assembly>
      <assembly>Mitumorisyo</assembly>
      <assembly>DenshiShinseiNaiyouSentakuNyuuryoku</assembly>
      <assembly>MobileShougunShutsuryoku</assembly>
      <assembly>MobileShougunTorikomi</assembly>
      <assembly>MotochoHaniJokenPopUp</assembly>
      <assembly>NisugataHoshu</assembly>
      <assembly>NyukinKeshikomi</assembly>
      <assembly>Nyukinnyuryoku</assembly>
      <assembly>NyukinNyuryoku2</assembly>
      <!-- G619 -->
      <assembly>NyukinNyuryoku3</assembly>
      <assembly>NyukinKeshikomiNyuryoku</assembly>
      <assembly>NyukinYoteiIchiranhyo</assembly>
      <assembly>NyuukinKoteiChouhyou</assembly>
      <assembly>NyuukinsakiIchiran</assembly>
      <assembly>NyuukinsakiNyuuryokuHoshu</assembly>
      <assembly>NyuukinYoteiIchiran</assembly>
      <assembly>NyuuryokuTantoushaHoshu</assembly>
      <assembly>NyuushukkinKbnHoshu</assembly>
      <assembly>NyuuSyutuKinIchiran</assembly>
      <assembly>OboegakiIkkatuHoshu</assembly>
      <assembly>OboeGakiIkkatuIchiran</assembly>
      <!--<assembly>PaperManifest</assembly>-->
      <assembly>PatternIchiran</assembly>
      <assembly>r_framework</assembly>
      <assembly>RealInfoSearch</assembly>
      <assembly>RiyouRirekiKanri</assembly>
      <assembly>SagyoubiHenkou</assembly>
      <assembly>SaishuShobunBasyoPatternIchiran</assembly>
      <assembly>SampaiManifestoChokkou</assembly>
      <assembly>SampaiManifestoThumiKae</assembly>
      <assembly>Seikyucheckhyo</assembly>
      <assembly>Seikyuichiran</assembly>
      <assembly>SeikyuShimeShori</assembly>
      <assembly>Seikyushokakunin</assembly>
      <assembly>SeikyuuShimeError</assembly>
      <assembly>SeikyuushoHakkou</assembly>
      <assembly>ShainHoshu</assembly>
      <assembly>SharyouHoshu</assembly>
      <assembly>Sharyoukyuudounyuryoku</assembly>
      <assembly>ShashuHoshu</assembly>
      <assembly>Shiharaicheckhyo</assembly>
      <assembly>Shiharaiichiran</assembly>
      <assembly>Shiharaijimesyorierrorichiran</assembly>
      <assembly>Shiharaikakuteinyuryoku</assembly>
      <assembly>ShiharaiMeisaishoHakko</assembly>
      <assembly>Shiharaimeisaishokakunin</assembly>
      <assembly>ShiharaiMotocho</assembly>
      <assembly>Shiharaishimesyori</assembly>
      <assembly>ShiharaiShukeiHyo</assembly>
      <assembly>ShikuchousonHoshu</assembly>
      <assembly>ShobunHouhouHoshu</assembly>
      <assembly>ShobunMokutekiHoshu</assembly>
      <assembly>ShobunShuryouHoukoku</assembly>
      <assembly>ShobunTantoushaHoshu</assembly>
      <assembly>Shougun.Core.Message</assembly>
      <!--<assembly>Shougun.FrameWork.Phase1</assembly>-->
      <assembly>ShougunCSCommon</assembly>
      <assembly>ShouhizeiHoshu</assembly>
      <assembly>ShukeiHyoJokenShiteiPoppup</assembly>
      <assembly>ShukkinKoteiChouhyou</assembly>
      <assembly>ShukkinYoteiIchiranhyo</assembly>
      <assembly>ShuruiHoshu</assembly>
      <assembly>ShuukeikoumokuHoshu</assembly>
      <assembly>Sousinhoryusaisyusyobunhoukoku</assembly>
      <assembly>SousinhoryuuTouroku</assembly>
      <assembly>SousinnHoryuuPopup</assembly>
      <assembly>SyaryoSentaku</assembly>
      <assembly>SyobunnShuryouHoukokuIkkatuNyuuryoku</assembly>
      <assembly>System.Windows.Forms.Ribbon35</assembly>
      <assembly>SystemSetteiHoshu</assembly>
      <assembly>Syukinnyuryoku</assembly>
      <assembly>SyukkaNyuuryoku</assembly>
      <assembly>Tairyuichiran</assembly>
      <assembly>TegatahokanshaHoshu</assembly>
      <assembly>TeikiHaishaIkkatsuSakusei</assembly>
      <assembly>TeikiHaishaNyuuryoku</assembly>
      <assembly>TeikiHaisyaIchiran</assembly>
      <assembly>TeikiHaisyaJisekiIchiran</assembly>
      <assembly>TeikiHaisyaJisekiNyuuryoku</assembly>
      <assembly>Teikihaisyajissekihyou</assembly>
      <assembly>TenpyouTankaIkatsuHenkou</assembly>
      <assembly>TodouFukenHoshu</assembly>
      <assembly>TopHeNoJouhouKoukai</assembly>
      <assembly>TorihikikubunHoshu</assembly>
      <assembly>TorihikisakiHoshu</assembly>
      <assembly>TorihikisakiIchiran</assembly>
      <assembly>TorihikisakiKensaku</assembly>
      <assembly>TorihikisakiRirekiIchiran</assembly>
      <assembly>TruckScaleTsuushin</assembly>
      <assembly>TruckScaleWeight</assembly>
      <assembly>TukigimeUriageDenpyoSakusei</assembly>
      <assembly>TuuchiJouhouShoukai</assembly>
      <assembly>TuusinnRirekiShoukai</assembly>
      <assembly>UkeireNyuuryoku</assembly>
      <assembly>UkeireNyuuryoku2</assembly>
      <assembly>UketoritekataNyuuryoku</assembly>
      <assembly>UketsukeKuremuNyuuryoku</assembly>
      <assembly>UketsukeMochikomiNyuuryoku</assembly>
      <assembly>UketsukeSyukkaNyuuryoku</assembly>
      <assembly>UketsukeSyuusyuuNyuuryoku</assembly>
      <assembly>UketukeiIchiran</assembly>
      <assembly>UkewatashiKakuninHyou</assembly>
      <assembly>UnchinNyuuRyoku</assembly>
      <assembly>UnchinSyuukeihyou</assembly>
      <assembly>UnitHoshu</assembly>
      <assembly>UnpanHouhouHoshu</assembly>
      <assembly>UnpanShuryouHoukoku</assembly>
      <assembly>UnpanShuryouHoukokuIkkatuNyuuryoku</assembly>
      <assembly>UntenshaHoshu</assembly>
      <assembly>Untenshakyudounyuuryoku</assembly>
      <assembly>UntinSyuusyuuhyoPopup</assembly>
      <assembly>Uriagekakutenyuryoku</assembly>
      <assembly>UriageMotocho</assembly>
      <assembly>UriageShiharaiKoteiChouhyou</assembly>
      <assembly>UriageShiharaiNyuuryoku</assembly>
      <assembly>UriageShukeiHyo</assembly>
      <assembly>DenpyouKakuteiNyuryoku</assembly>
      <assembly>UrikakekinItiranHyo</assembly>
      <assembly>YoukiHoshu</assembly>
      <assembly>YuugaiBusshitsuHoshu</assembly>
      <assembly>ZaikoHinmeiHoshu</assembly>
      <assembly>ZaikoHiritsuHoshu</assembly>
      <assembly>ZaikoMeisaiNyuuryoku</assembly>
      <assembly>ZaikoShimeSyori</assembly>
      <assembly>ZaikoTyouseiIchiran</assembly>
      <assembly>ZaikoTyouseiNyuuryoku</assembly>
      <assembly>ZipCodeHoshu</assembly>
      <assembly>Himodukeichiran</assembly>
      <assembly>ManifestSyuuryoubiIchiran</assembly>
      <assembly>MobileTsuushin</assembly>
      <assembly>Teikijissekihoukoku</assembly>
      <assembly>DenshiShinseiRoute</assembly>
      <assembly>TorihikisakiKakunin</assembly>
      <assembly>KobetsuHinmeiTankaIchiran</assembly>
      <!--613-->
      <assembly>GyoushaKakunin</assembly>
      <!--613-->
      <assembly>DenshiShinseiJyuyoudoHoshu</assembly>
      <assembly>DenshiShinseiIchiran</assembly>
      <assembly>DenshiShinseiNyuuryoku</assembly>
      <assembly>ShouninzumiDenshiShinseiIchiran</assembly>
      <assembly>KongouHaikibutsuJoukyouIchiran</assembly>
      <assembly>GetsujiShori</assembly>
      <assembly>GetsujiShouhizeiChouseiNyuuryoku</assembly>
      <assembly>JissekiHokoku</assembly>
      <assembly>JissekiHokokuCsv</assembly>
      <assembly>JissekiHokokuIchiran</assembly>
      <assembly>JissekiHokokuSisetsu</assembly>
      <assembly>JissekiHokokuUnpan</assembly>
      <assembly>JissekiHokokuSyusei</assembly>
      <assembly>JissekiHokokuSyuseiSisetsu</assembly>
      <assembly>JissekiHokokuSyuseiPopup</assembly>
      <assembly>JissekiHokokuSyuseiShobun</assembly>
      <assembly>JissekiHokokuUnpanCsv</assembly>
      <assembly>ManifestShukeihyo</assembly>
      <!--20150129 chenzz 入金消込修正入力-->
      <assembly>NyukinKeshikomiShusei</assembly>
      <!-- G623 売上順位表 -->
      <assembly>UriageJunihyo</assembly>
      <!-- G623 売上順位表 -->
      <!-- G625 支払順位表 -->
      <assembly>ShiharaiJunihyo</assembly>
      <!-- G625 支払順位表 -->
      <!--換算再計算-->
      <assembly>ManifestKansanSaikeisanIchiran</assembly>
      <!--換算再計算-->
      <!--在庫移動入力-->
      <assembly>ZaikoIdou</assembly>
      <!--在庫移動一覧-->
      <assembly>ZaikoIdouIchiran</assembly>
      <!-- G627 入金集計表 -->
      <assembly>NyuukinShuukeiChouhyou</assembly>
      <!-- G627 入金集計表 -->
      <!-- G629 出金集計表 -->
      <assembly>ShukkinShuukeiChouhyou</assembly>
      <!-- G629 出金集計表 -->
      <!--Sontt #10030 G635 請求明細表出力 -->
      <assembly>SeikyuuMeisaihyouShutsuryoku</assembly>
      <!--Sontt #10030 G635 請求明細表出力 -->
      <!--在庫管理表-->
      <assembly>ZaikoKanriHyo</assembly>
      <!-- G581 売上推移表 -->
      <assembly>UriageSuiihyou</assembly>
      <!-- G581 売上推移表 -->
      <!-- G584 支払推移表 -->
      <assembly>ShiharaiSuiihyou</assembly>
      <!-- G581 支払推移表 -->
      <!--M639 運賃品名入力 #4935 STR-->
      <assembly>UnchiHinmeiHoshu</assembly>
      <!--M639 運賃品名入力 #4935 END-->
      <!-- 20150420 katen 代納明細表 出力画面 -->
      <assembly>DainoMeisaihyoOutput</assembly>
      <!-- 20150420 katen 代納明細表 出力画面 -->
      <!-- 20150427 on juubin 運賃一覧 -->
      <assembly>Unchinichiran</assembly>
      <!-- 20150427 on juubin 運賃一覧 -->
      <!--20150422 Jyokou 運賃集計表 STR-->
      <assembly>UnchinShukeiHyo</assembly>
      <!--20150422 Jyokou 運賃集計表 END-->
      <!--M640 運賃単価入力 #4936 STR-->
      <assembly>UnchinTankaHoshu</assembly>
      <!--M640 運賃単価入力 #4936 END-->
      <!--Start Sontt #10156 20150425-->
      <assembly>KaishiZaikoJouhouHoshu</assembly>
      <!--End Sontt #10156 20150425-->
      <!--M640 運賃明細表 #4936 STR-->
      <assembly>UnchinMeisaihyou</assembly>
      <!--M640 運賃明細表 #4936 END-->
      <assembly>UnchinDaichouHaniJokenPopUp</assembly>
      <assembly>UnchinDaichou</assembly>
      <assembly>DenManiKansanHoshu</assembly>
      <!--Start M655 一般廃用報告書分類入力 chenzz 20150626-->
      <assembly>JissekiBunruiHoshu</assembly>
      <!--End M655 一般廃用報告書分類入力 chenzz 20150626-->
      <assembly>UketsukeMeisaihyo</assembly>
      <assembly>ShiharaiMeisaiMeisaihyou</assembly>
      <assembly>CourseIchiran</assembly>
      <assembly>NioroshiNoSettei</assembly>
      <!--G665 汎用CSV出力-->
      <assembly>HanyoCSVShutsuryoku</assembly>
      <!--G666 CTI連携-->
      <assembly>CtiRenkeiSettei</assembly>
      <assembly>NyuukinDataTorikomi</assembly>

      <assembly>MobileJoukyouIchiran</assembly>
      <assembly>MobileJoukyouInfo</assembly>
      <!--M669 コンテナQR発行-->
      <assembly>ContenaQrHakkou</assembly>
      <assembly>ManifestImport</assembly>
      <assembly>KobetsuHimeiTankaUpdate</assembly>
      <!--G672 計量入力-->
      <assembly>KeiryouNyuuryoku</assembly>
      <!--G673 計量一覧-->
      <assembly>KeiryouIchiran</assembly>
      <!--G674 計量報告-->
      <assembly>KeiryouHoukoku</assembly>
      <!--G678 計量集計表-->
      <assembly>KeiryouShukeiHyo</assembly>
      <assembly>SystemKobetsuSetteiHoshu</assembly>

      <!--M689 デジタコマスタ連携-->
      <assembly>DigitachoMasterRenkei</assembly>
      <!--M693 外部連携現場入力-->
      <assembly>GaibuRenkeiGenbaHoshu</assembly>
      <!--M694 外部連携現場一覧-->
      <assembly>GaibuRenkeiGenbaIchiran</assembly>
      <!--G695 配送計画入力-->
      <assembly>HaisouKeikakuNyuuryoku</assembly>
      <!--G696 配送計画一覧-->
      <assembly>HaisouKeikakuIchiran</assembly>
      <!--G686 マニフェスト終了日一括更新-->
      <assembly>ManifestIkkatsuKousin</assembly>
      <!--G687 紐付1次最終処分終了報告-->
      <assembly>DenmaniSaishuShobun</assembly>
      <assembly>DenpyouIkkatuUpdate</assembly>
      <assembly>DenpyouDetailIkkatuUpdate</assembly>
      <!--M714 地域一括変更-->
      <assembly>ChiikiIkkatsu</assembly>
      <!--G713 マニフェスト実績一覧-->
      <assembly>ManifestoJissekiIchiran</assembly>
      <!--M690 NAVITIMEマスタ連携-->
      <assembly>NaviTimeMasterRenkei</assembly>
      <!--G697 配車計画(NAVITIME)-->
      <assembly>HaisouKeikakuTeiki</assembly>
      <!--G698 コース最適化入力-->
      <assembly>CourseSaitekikaNyuuryoku</assembly>
      <!--G715 電子契約入力-->
      <assembly>DenshiKeiyakuNyuryoku</assembly>
      <!--G716 電子契約入力-->
      <assembly>DenshiKeiyakuRirekiIchiran</assembly>
      <!--M717 クライアントID入力-->
      <assembly>ClientIdNyuuryoku</assembly>
      <!--M718 社内経路名入力（電子）-->
      <assembly>DenshiKeiyakuShinseiKeiroName</assembly>
      <!--M719 社内経路入力（電子）-->
      <assembly>DenshiKeiyakuShinseiKeiro</assembly>
      <assembly>SyukkaNyuuryoku2</assembly>
      <!--G723 マニフェスト推移表-->
      <assembly>ManifestSuiihyoData</assembly>
      <!--ファイルアップロード共通-->
      <assembly>FileUploadCommon</assembly>
      <assembly>FileUpload</assembly>
      <assembly>FileUploadIchiran</assembly>
      <!--G732 データ削除-->
      <assembly>AnnualUpdatesDEL</assembly>
      <!--M734 電子契約最新照会-->
      <assembly>DenshiKeiyakuSaishinShoukai</assembly>
      <!--M737 書類情報入力-->
      <assembly>DenshiKeiyakuShoruiInfo</assembly>
      <!--M738 コンテナ設置期間表示設定-->
      <assembly>ContenaKeikaDate</assembly>
      <!--M739 地図連携-->
      <assembly>MapRenkei</assembly>
      <!--G741 現場メモ入力-->
      <assembly>GenbamemoNyuryoku</assembly>
      <!--G742 現場メモ一覧-->
      <assembly>GenbamemoIchiran</assembly>
      <!--G743 他車入替-->
      <assembly>CarTransferSpot</assembly>
      <!--G744 他車入替-->
      <assembly>CarTransferTeiki</assembly>
      <assembly>UriageZennenTaihihyou</assembly>
      <!--G725 単価履歴-->
      <assembly>TankaRirekiIchiran</assembly>
      <!--G728 支払前年対比表-->
      <assembly>ShiharaiZennenTaihihyou</assembly>
      <!--G745 INXS請求書発行-->
      <assembly>InxsSeikyuushoHakkou</assembly>
      <!--G747 INXS支払明細書発行-->
      <assembly>InxsShiharaiMeisaishoHakko</assembly>
      <assembly>KyokaShouIchiran</assembly>
      <!--M746 共有先入力-->
      <assembly>KyoyusakiNyuuryoku</assembly>
	    <!--M757 楽楽明細マスタ一覧-->
	    <assembly>RakurakuMasutaIchiran</assembly>

      <assembly>DenpyouRireki</assembly>
      <assembly>ShukkinKeshikomiShusei</assembly>
      <assembly>ShukkinKeshikomi</assembly>
      <assembly>MiShukkinIchiran</assembly>
      <assembly>ShukkinYoteiIchiran</assembly>
      <assembly>ShukkinDataShutsuryoku</assembly>
      <!--M758 電子契約最新照会-->
      <assembly>DenshiKeiyakuSaishinShoukaiWanSign</assembly>
      <!--M759 電子契約紐付補助-->
      <assembly>DenshiKeiyakuHimodzukeHojo</assembly>
      <!--M760 電子文書詳細入力-->
      <assembly>DenshiBunshoHoshu</assembly>
      <!--M766 ｼｮｰﾄﾒｯｾｰｼﾞ受信者入力-->
      <assembly>SmsReceiverNyuuryoku</assembly>
      <!--G767 ｼｮｰﾄﾒｯｾｰｼﾞ入力-->
      <assembly>SmsNyuuryoku</assembly>
      <!--G768 ｼｮｰﾄﾒｯｾｰｼﾞ送信一覧-->
      <assembly>SmsIchiran</assembly>
      <!--G769 ｼｮｰﾄﾒｯｾｰｼﾞ着信結果-->
      <assembly>SmsResult</assembly>

	  <!--M0317 グループ入力(売上) 20250317-->
	  <assembly>GurupuNyuryoku</assembly>
		
	  <!--M0403 備考パターン入力 20250403-->
	  <assembly>BikoPatanNyuryoku</assembly>

	  <!--M0404 備考選択肢入力 20250404-->
	  <assembly>BikoSentakushiNyuryoku</assembly>

	  <!--M0405 備考内訳入力 20250405-->
	  <assembly>BikoUchiwakeNyuryoku</assembly>
    </assemblys>
  </seasar>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>