<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Shougun.Core.Stock.ZaikoMeisaiNyuuryoku.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <userSettings>
        <Shougun.Core.Stock.ZaikoMeisaiNyuuryoku.Properties.Settings>
            <setting name="HinmeiCd" serializeAs="String">
                <value />
            </setting>
            <setting name="HinmeiName" serializeAs="String">
                <value />
            </setting>
            <setting name="SyoumiJyuuryou" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NisugataSuuryou" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NisugataUnitName" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Kingaku" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Suuryou" serializeAs="String">
                <value>0</value>
            </setting>
        </Shougun.Core.Stock.ZaikoMeisaiNyuuryoku.Properties.Settings>
    </userSettings>
</configuration>