<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SyaryoSentaku.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="G304.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Shougun.Core.Common.PatternIchiran.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SyaryoSentaku.Properties.Settings>
            <setting name="ParamIn_GyosyaCode" serializeAs="String">
                <value />
            </setting>
            <setting name="ParamIn_CarCode" serializeAs="String">
                <value />
            </setting>
            <setting name="ParamIn_CarKind" serializeAs="String">
                <value />
            </setting>
            <setting name="ParamIn_UntenshaCode" serializeAs="String">
                <value />
            </setting>
            <setting name="paramIn_TekiyouFlg" serializeAs="String">
                <value />
            </setting>
            <setting name="paramIn_GyoushaTekiyouFlg" serializeAs="String">
                <value />
            </setting>
            <setting name="paramIn_GyoushaKbn" serializeAs="String">
                <value />
            </setting>
            <setting name="ParamIn_ClosedDate" serializeAs="String">
                <value />
            </setting>
            <setting name="paramIn_UnpanGyousyaKbn" serializeAs="String">
                <value />
            </setting>
            <setting name="paramIn_ManiKbn" serializeAs="String">
                <value />
            </setting>
            <setting name="paramIn_SharyouFlg" serializeAs="String">
                <value />
            </setting>
        </SyaryoSentaku.Properties.Settings>
        <G304.Properties.Settings>
            <setting name="ParamIn_GyosyaCode" serializeAs="String">
                <value />
            </setting>
            <setting name="ParamIn_CarCode" serializeAs="String">
                <value />
            </setting>
        </G304.Properties.Settings>
    </userSettings>
</configuration>