<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Shougun.Core.SalesPayment.DenpyouKakuteiNyuryoku.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Shougun.Core.SalesPayment.Uriagekakutenyuryoku.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Shougun.Core.ReceiptPayManagement.NyuuSyutuKinIchiran.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <userSettings>
        <Shougun.Core.SalesPayment.DenpyouKakuteiNyuryoku.Properties.Settings>
            <setting name="SET_KYOTEN_CD" serializeAs="String">
                <value />
            </setting>
            <setting name="SET_HIDUKE_TO" serializeAs="String">
                <value />
            </setting>
            <setting name="SET_HIDUKE_FROM" serializeAs="String">
                <value />
            </setting>
            <setting name="SET_HIDUKE_KBN" serializeAs="String">
                <value />
            </setting>
        </Shougun.Core.SalesPayment.DenpyouKakuteiNyuryoku.Properties.Settings>
        <Shougun.Core.SalesPayment.Uriagekakutenyuryoku.Properties.Settings>
            <setting name="SET_KYOTEN_CD" serializeAs="String">
                <value />
            </setting>
            <setting name="SET_HIDUKE_TO" serializeAs="String">
                <value />
            </setting>
            <setting name="SET_HIDUKE_FROM" serializeAs="String">
                <value />
            </setting>
            <setting name="SET_HIDUKE_KBN" serializeAs="String">
                <value />
            </setting>
        </Shougun.Core.SalesPayment.Uriagekakutenyuryoku.Properties.Settings>
        <Shougun.Core.ReceiptPayManagement.NyuuSyutuKinIchiran.Properties.Settings>
            <setting name="SET_KYOTEN_CD" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SET_KYOTEN_NAME_RYAKU" serializeAs="String">
                <value>入金管理</value>
            </setting>
        </Shougun.Core.ReceiptPayManagement.NyuuSyutuKinIchiran.Properties.Settings>
    </userSettings>
</configuration>