<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Shougun.Core.Common.DenpyouRenkeiIchiran.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <Shougun.Core.Common.DenpyouRenkeiIchiran.Properties.Settings>
      <setting name="KINOU_KBN" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DENPYOU_KBN" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DATE_FROM" serializeAs="String">
        <value />
      </setting>
      <setting name="DATE_TO" serializeAs="String">
        <value />
      </setting>
      <setting name="DENPYOU_NO" serializeAs="String">
        <value />
      </setting>
      <setting name="TORIHIKISAKI_CD" serializeAs="String">
        <value />
      </setting>
      <setting name="GYOUSHA_CD" serializeAs="String">
        <value />
      </setting>
      <setting name="GENBA_CD" serializeAs="String">
        <value />
      </setting>
      <setting name="RENKEI_KBN" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="UKETSUKE_FLG" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UKEIRE_FLG" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SHUKKA_FLG" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UR_SH_FLG" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MANI_FLG" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UNCHIN_FLG" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DAINOU_FLG" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="KYOTEN_CD" serializeAs="String">
        <value />
      </setting>
    </Shougun.Core.Common.DenpyouRenkeiIchiran.Properties.Settings>
  </userSettings>
</configuration>