<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Shougun.Core.PaperManifest.ManifestPattern.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Shougun.Core.ReceiptPayManagement.Nyukinnyuryoku.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Shougun.Core.ReceiptPayManagement.Nyukinnyuryoku.Properties.Settings.ConnectionString"
        connectionString="Data Source=SW08RDS01\SQLEXPRESS2008R2;Persist Security Info=True;User ID=sa"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <userSettings>
    <!--<Shougun.Core.ReceiptPayManagement.Nyukinnyuryoku.Properties.Settings>
      <setting name="Param_NYUKIN_NO" serializeAs="String">
        <value>8100000001</value>
      </setting>
    </Shougun.Core.ReceiptPayManagement.Nyukinnyuryoku.Properties.Settings>-->
    <Shougun.Core.PaperManifest.ManifestPattern.Properties.Settings>
      <setting name="KYOTEN_CD" serializeAs="String">
        <value />
      </setting>
      <setting name="KYOTEN_NAME" serializeAs="String">
        <value />
      </setting>
      <setting name="FIRST_MANIFEST_KBN" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="PATTERN_NAME" serializeAs="String">
        <value />
      </setting>
      <setting name="HST_GYOUSHA_NAME" serializeAs="String">
        <value />
      </setting>
      <setting name="HST_GENBA_NAME" serializeAs="String">
        <value />
      </setting>
    </Shougun.Core.PaperManifest.ManifestPattern.Properties.Settings>
  </userSettings>
</configuration>