<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Shougun.Core.ExternalConnection.DenshiKeiyakuShinseiKeiro.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Shougun.Core.Master.DenshiShinseiRoute.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
		<Shougun.Core.ExternalConnection.DenshiKeiyakuShinseiKeiro.Properties.Settings>
      <setting name="ConditionValue_Text" serializeAs="String">
          <value />
      </setting>
      <setting name="ConditionValue_DBFieldsName" serializeAs="String">
          <value>default</value>
      </setting>
      <setting name="ConditionValue_ItemDefinedTypes" serializeAs="String">
          <value />
      </setting>
      <setting name="ConditionItem_Text" serializeAs="String">
          <value />
      </setting>
      <setting name="DENSHI_KEIYAKU_SHANAI_KEIRO_NAME_CD" serializeAs="String">
          <value />
      </setting>
      <setting name="DENSHI_KEIYAKU_SHANAI_KEIRO_NAME" serializeAs="String">
          <value />
      </setting>
  </Shougun.Core.ExternalConnection.DenshiKeiyakuShinseiKeiro.Properties.Settings>
  <Shougun.Core.Master.DenshiShinseiRoute.Properties.Settings>
      <setting name="ConditionValue_Text" serializeAs="String">
          <value />
      </setting>
      <setting name="ConditionValue_DBFieldsName" serializeAs="String">
          <value>default</value>
      </setting>
      <setting name="ConditionValue_ItemDefinedTypes" serializeAs="String">
          <value />
      </setting>
      <setting name="ConditionItem_Text" serializeAs="String">
          <value />
      </setting>
      <setting name="DENSHI_SHINSEI_ROUTE_CD" serializeAs="String">
          <value />
      </setting>
      <setting name="DENSHI_SHINSEI_ROUTE_NAME" serializeAs="String">
          <value />
      </setting>
  </Shougun.Core.Master.DenshiShinseiRoute.Properties.Settings>
    </userSettings>
</configuration>