<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Shougun.Core.Billing.SeikyuushoHakkou.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <userSettings>
        <Shougun.Core.Billing.SeikyuushoHakkou.Properties.Settings>
            <setting name="ParamIn_KyotenCd" serializeAs="String">
                <value />
            </setting>
            <setting name="DenpyoHidukeFrom" serializeAs="String">
                <value />
            </setting>
            <setting name="DenpyoHidukeTo" serializeAs="String">
                <value />
            </setting>
            <setting name="HakkouKyotenCD" serializeAs="String">
                <value />
            </setting>
            <setting name="Simebi" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PrintOrder" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SeikyuuPaper" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SeikyuuStyle" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Meisai" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="KensakuJyoken" serializeAs="String">
                <value />
            </setting>
            <setting name="SeikyuushoPrintday" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SiteiPrintHiduke" serializeAs="String">
                <value />
            </setting>
            <setting name="SeikyuHakkou" serializeAs="String">
                <value>2</value>
            </setting>
        </Shougun.Core.Billing.SeikyuushoHakkou.Properties.Settings>
    </userSettings>
</configuration>