<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Shougun.Core.SalesPayment.Tairyuichiran.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Shougun.Core.SalesPayment.Tairyuichiran.Properties.Settings>
            <setting name="SET_KYOTEN_CD" serializeAs="String">
                <value />
            </setting>
            <setting name="SET_SHARYOU_CD" serializeAs="String">
                <value />
            </setting>
            <setting name="SET_DENPYOU_KIND" serializeAs="String">
                <value />
            </setting>
            <setting name="SET_GYOUSHA_CD" serializeAs="String">
                <value />
            </setting>
        </Shougun.Core.SalesPayment.Tairyuichiran.Properties.Settings>
    </userSettings>
</configuration>