<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Shougun.Core.PaperManifest.ManifestImport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Shougun.Core.Billing.AtenaLabel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Shougun.Core.Billing.AtenaLabel.Properties.Settings.ConnectionString"
      connectionString="Data Source=SW08RDS01\SQLEXPRESS2008R2;User ID=sa;Password=203388" />
  </connectionStrings>
  <userSettings>
    <Shougun.Core.PaperManifest.ManifestImport.Properties.Settings>
      <setting name="FilePathChokko" serializeAs="String">
        <value />
      </setting>
      <setting name="FilePathTsumikae" serializeAs="String">
        <value />
      </setting>
      <setting name="FilePathKenpai" serializeAs="String">
        <value />
      </setting>
      <setting name="FilePathHimoduke" serializeAs="String">
        <value />
      </setting>
    </Shougun.Core.PaperManifest.ManifestImport.Properties.Settings>
    <Shougun.Core.Billing.AtenaLabel.Properties.Settings>
      <setting name="DenpyoHidukeFrom" serializeAs="String">
        <value />
      </setting>
      <setting name="DenpyoHidukeTo" serializeAs="String">
        <value />
      </setting>
    </Shougun.Core.Billing.AtenaLabel.Properties.Settings>
  </userSettings>
</configuration>