<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Shougun.Core.Scale.KeiryouNyuuryoku.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Shougun.Core.Scale.KeiryouNyuuryoku.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Shougun.Core.Scale.KeiryouNyuuryoku.Properties.Settings>
            <setting name="ApDetailCtrl" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>HINMEI_CD:品名CD:True:1</string>
                        <string>HINMEI_NAME:品名:True:2</string>
                        <string>KEIRYOU_TIME:計量時間:True:4</string>
                        <string>STACK_JYUURYOU:総重量:True:5</string>
                        <string>EMPTY_JYUURYOU:空車重量:True:6</string>
                        <string>CHOUSEI_JYUURYOU:調整(Kg):True:7</string>
                        <string>CHOUSEI_PERCENT:調整(%):True8</string>
                        <string>YOUKI_CD:容器CD:True:9</string>
                        <string>YOUKI_SUURYOU:容器数量:True:10</string>
                        <string>YOUKI_JYUURYOU:容器重量:True:11</string>
                        <string>SUURYOU:数量:True:12</string>
                        <string>UNIT_CD:単位CD:True:13</string>
                        <string>TANKA:単価:True:14</string>
                        <string>KINGAKU:金額:True:15</string>
                        <string>MEISAI_BIKOU:明細備考:True:16</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ApDenpyouCtrl" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>KYOTEN_CD:拠点CD:True:0</string>
                        <string>NYUURYOKU_TANTOUSHA_CD:入力担当者:True:11</string>
                        <string>ENTRY_NUMBER:計量番号:True:12</string>
                        <string>RENBAN:年連番/日連番:True:13</string>
                        <string>DENPYOU_DATE:伝票日付:True:14</string>
                        <string>SHARYOU_CD:車輌CD:True:15</string>
                        <string>SHARYOU_NAME_RYAKU:車輌名:True:16</string>
                        <string>GYOUSHA_CD:業者CD:True:17</string>
                        <string>GYOUSHA_NAME_RYAKU:業者名:True:18</string>
                        <string>GENBA_CD:現場CD:True:19</string>
                        <string>GENBA_NAME_RYAKU:現場名:True:20</string>
                        <string>UNPAN_GYOUSHA_CD:運搬業者CD:True:21</string>
                        <string>UNPAN_GYOUSHA_NAME:運搬業者名:True:22</string>
                        <string>SHASHU_CD:車種CD:True:23</string>
                        <string>UNTENSHA_CD:運転者CD:True:24</string>
                        <string>DENPYOU_BIKOU:伝票備考:True:25</string>
                        <string>TAIRYUU_BIKOU:滞留備考:True:26</string>
                        <string>STACK_JYUURYOU:総重量:False:27</string>
                        <string>EMPTY_JYUURYOU:空車重量:False:28</string>
                        <string>EMPTY_KEIRYOU_TIME:総重量計量時間:True:29</string>
                        <string>STACK_KEIRYOU_TIME:空車重量計量時間:True:30</string>
                        <string>HAIKI_KBN_CD:廃棄物区分CD:True:42</string>
                        <string>HST_GYOUSHA_CD:排出事業者CD:True:43</string>
                        <string>HST_GYOUSHA_NAME:排出事業者名:True:44</string>
                        <string>HST_GENBA_CD:排出事業場CD:True:45</string>
                        <string>HST_GENBA_NAME:排出事業場名:True:46</string>
                        <string>SBN_GYOUSHA_CD:処分業者CD:True:47</string>
                        <string>SBN_GYOUSHA_NAME:処分業者名:True:48</string>
                        <string>SBN_GENBA_CD:処分事業場CD:True:49</string>
                        <string>SBN_GENBA_NAME:処分事業場名:True:50</string>
                        <string>LAST_SBN_GYOUSHA_CD:最終処分業者CD:True:51</string>
                        <string>LAST_SBN_GYOUSHA_NAME:最終処分業者名:True:52</string>
                        <string>LAST_SBN_GENBA_CD:最終処分場CD:True:53</string>
                        <string>LAST_SBN_GENBA_NAME:最終処分場名:True:54</string>
                        <string>EIGYOU_TANTOUSHA_CD:営業担当者CD:True:61</string>
                        <string>NIZUMI_GYOUSHA_CD:荷積業者CD:True:62</string>
                        <string>NIZUMI_GYOUSHA_NAME:荷積業者名:True:63</string>
                        <string>NIZUMI_GENBA_CD:荷積現場CD:True:64</string>
                        <string>NIZUMI_GENBA_NAME:荷積現場名:True:65</string>
                        <string>NIOROSHI_GYOUSHA_CD:荷降業者CD:True:66</string>
                        <string>NIOROSHI_GYOUSHA_NAME:荷降業者名:True:67</string>
                        <string>NIOROSHI_GENBA_CD:荷降現場CD:True:68</string>
                        <string>NIOROSHI_GENBA_NAME:荷降現場名:True:69</string>
                        <string>DAIKAN_KBN:台貫:True:70</string>
                        <string>KEITAI_KBN_CD:形態区分CD:True:71</string>
                        <string>MANIFEST_SHURUI_CD:マニ種類CD:True:72</string>
                        <string>MANIFEST_TEHAI_CD:マニ手配CD:True:73</string>
                        <string>TORIHIKISAKI_CD:取引先CD:True:81</string>
                        <string>TORIHIKISAKI_NAME_RYAKU:取引先名:True:82</string>
                        <string>URIAGE_TORIHIKI_KBN_CD:売上取引区分CD:True:83</string>
                        <string>URIAGE_ZEI_KEISAN_KBN_CD:売上税計算区分CD:True:84</string>
                        <string>URIAGE_ZEI_KBN_CD:売上税区分CD:True:85</string>
                        <string>SHIHARAI_TORIHIKI_KBN_CD:支払取引区分CD:True:86</string>
                        <string>SHIHARAI_ZEI_KEISAN_KBN_CD:支払税計算区分CD:True:87</string>
                        <string>SHIHARAI_ZEI_KBN_CD:支払税区分CD:True:88</string>
                        <string>CASHEIR_RENDOU_KBN_CD:キャッシャー連動区分:True:89</string>
                        <string>RECEIPT_KBN_CD:領収書区分:True:90</string>
                        <string>RECEIPT_KEISHOU_1:領収書敬称1:True:91</string>
                        <string>RECEIPT_KEISHOU_2:領収書敬称2:True:92</string>
                        <string>RECEIPT_TADASHIGAKI:領収書但し書き:True:93</string>
                    </ArrayOfString>
                </value>
            </setting>
        </Shougun.Core.Scale.KeiryouNyuuryoku.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Shougun.Core.Scale.KeiryouNyuuryoku.Properties.Settings>
            <setting name="tadasigaki" serializeAs="String">
                <value />
            </setting>
        </Shougun.Core.Scale.KeiryouNyuuryoku.Properties.Settings>
    </userSettings>
</configuration>