<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Shougun.Core.Allocation.TeikiHaisyaJisekiIchiran.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Shougun.Core.Stock.ZaikoTyouseiIchiran.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <userSettings>
        <Shougun.Core.Allocation.TeikiHaisyaJisekiIchiran.Properties.Settings>
            <setting name="ShainCd" serializeAs="String">
                <value>123456</value>
            </setting>
            <setting name="KyotenCd" serializeAs="String">
                <value />
            </setting>
            <setting name="NumHidukeSentaku" serializeAs="String">
                <value />
            </setting>
            <setting name="HidukeFrom" serializeAs="String">
                <value />
            </setting>
            <setting name="HidukeTo" serializeAs="String">
                <value />
            </setting>
            <setting name="CourseCd" serializeAs="String">
                <value />
            </setting>
            <setting name="UntensyaCd" serializeAs="String">
                <value />
            </setting>
            <setting name="SHoujyosyaCd" serializeAs="String">
                <value />
            </setting>
            <setting name="ShashuCd" serializeAs="String">
                <value />
            </setting>
            <setting name="SharyouCd" serializeAs="String">
                <value />
            </setting>
            <setting name="unpanGyoushaCd" serializeAs="String">
                <value />
            </setting>
        </Shougun.Core.Allocation.TeikiHaisyaJisekiIchiran.Properties.Settings>
        <Shougun.Core.Stock.ZaikoTyouseiIchiran.Properties.Settings>
            <setting name="ShainCd" serializeAs="String">
                <value>123456</value>
            </setting>
        </Shougun.Core.Stock.ZaikoTyouseiIchiran.Properties.Settings> 
    </userSettings>
</configuration>