<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Shougun.Core.PaperManifest.KenpaiManifestoNyuryoku.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Shougun.Core.PaperManifest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Shougun.Core.PaperManifest.KenpaiManifestoNyuryoku.Properties.Settings>
            <setting name="SystemId" serializeAs="String">
                <value />
            </setting>
            <setting name="RenkeiDenshuKbnCd" serializeAs="String">
                <value />
            </setting>
            <setting name="RenkeiSystemId" serializeAs="String">
                <value />
            </setting>
            <setting name="RenkeiMeisaiSystemId" serializeAs="String">
                <value />
            </setting>
            <setting name="Mode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PtSystemId" serializeAs="String">
                <value />
            </setting>
            <setting name="Seq" serializeAs="String">
                <value />
            </setting>
            <setting name="PtSeq" serializeAs="String">
                <value />
            </setting>
            <setting name="SeqRD" serializeAs="String">
                <value />
            </setting>
            <setting name="ManifestID" serializeAs="String">
                <value />
            </setting>
            <setting name="KongoCd" serializeAs="String">
                <value />
            </setting>
        </Shougun.Core.PaperManifest.KenpaiManifestoNyuryoku.Properties.Settings>
        <Shougun.Core.PaperManifest.Properties.Settings>
            <setting name="SystemId" serializeAs="String">
                <value />
            </setting>
            <setting name="RenkeiDenshuKbnCd" serializeAs="String">
                <value />
            </setting>
            <setting name="RenkeiSystemId" serializeAs="String">
                <value />
            </setting>
            <setting name="RenkeiMeisaiSystemId" serializeAs="String">
                <value />
            </setting>
            <setting name="Mode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PtSystemId" serializeAs="String">
                <value />
            </setting>
            <setting name="Seq" serializeAs="String">
                <value />
            </setting>
            <setting name="PtSeq" serializeAs="String">
                <value />
            </setting>
            <setting name="SeqRD" serializeAs="String">
                <value />
            </setting>
            <setting name="ManifestID" serializeAs="String">
                <value />
            </setting>
        </Shougun.Core.PaperManifest.Properties.Settings>
    </userSettings>
</configuration>