<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="KobetsuHinmeiTankaIchiran.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <KobetsuHinmeiTankaIchiran.Properties.Settings>
            <setting name="KYOTEN_CD_TEXT" serializeAs="String">
                <value />
            </setting>
            <setting name="ICHIRAN_ALERT_KENSUU" serializeAs="String">
                <value />
            </setting>
            <setting name="TORIHIKISAKI_NAME_RYAKU_TEXT" serializeAs="String">
                <value />
            </setting>
            <setting name="GYOUSHA_NAME_RYAKU_TEXT" serializeAs="String">
                <value />
            </setting>
            <setting name="GENBA_FURIGANA_TEXT" serializeAs="String">
                <value />
            </setting>
            <setting name="GENBA_NAME1_TEXT" serializeAs="String">
                <value />
            </setting>
            <setting name="GENBA_NAME2_TEXT" serializeAs="String">
                <value />
            </setting>
            <setting name="GENBA_NAME_RYAKU_TEXT" serializeAs="String">
                <value />
            </setting>
            <setting name="GENBA_TODOUFUKEN_CD_TEXT" serializeAs="String">
                <value />
            </setting>
            <setting name="GENBA_ADDRESS_TEXT" serializeAs="String">
                <value />
            </setting>
            <setting name="TEKIYOU_BEGIN_VALUE" serializeAs="String">
                <value />
            </setting>
            <setting name="TEKIYOU_END_VALUE" serializeAs="String">
                <value />
            </setting>
            <setting name="ICHIRAN_HYOUJI_JOUKEN_TEKIYOU" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ICHIRAN_HYOUJI_JOUKEN_DELETED" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ICHIRAN_HYOUJI_JOUKEN_TEKIYOUGAI" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TORIHIKISAKI_CD_TEXT" serializeAs="String">
                <value />
            </setting>
            <setting name="GYOUSHA_CD_TEXT" serializeAs="String">
                <value />
            </setting>
            <setting name="GENBA_CD_TEXT" serializeAs="String">
                <value />
            </setting>
        </KobetsuHinmeiTankaIchiran.Properties.Settings>
    </userSettings>
</configuration>
