<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="KihonHinmeiTankaHoshu.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <KihonHinmeiTankaHoshu.Properties.Settings>
      <setting name="ConditionValue_Text" serializeAs="String">
        <value />
      </setting>
      <setting name="ICHIRAN_HYOUJI_JOUKEN_TEKIYOU" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ICHIRAN_HYOUJI_JOUKEN_DELETED" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ICHIRAN_HYOUJI_JOUKEN_TEKIYOUGAI" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ConditionValue_DBFieldsName" serializeAs="String">
        <value />
      </setting>
      <setting name="ConditionValue_ItemDefinedTypes" serializeAs="String">
        <value />
      </setting>
      <setting name="ConditionItem_Text" serializeAs="String">
        <value />
      </setting>
    </KihonHinmeiTankaHoshu.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
