<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Shougun.Core.Master.DenManiKansanHoshu.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <Shougun.Core.Master.DenManiKansanHoshu.Properties.Settings>
      <setting name="EDI_MEMBER_ID" serializeAs="String">
        <value />
      </setting>
      <setting name="HAIKI_SHURUI_CD" serializeAs="String">
        <value />
      </setting>
      <setting name="SEARCH_CONDITION_ITEM" serializeAs="String">
        <value />
      </setting>
      <setting name="SEARCH_CONDITION_VALUE_TEXT" serializeAs="String">
        <value />
      </setting>
      <setting name="SEARCH_CONDITION_VALUE_DBFIELDSNAME" serializeAs="String">
        <value />
      </setting>
      <setting name="SHOW_CONDITION_DELETED" serializeAs="String">
        <value>False</value>
      </setting>
    </Shougun.Core.Master.DenManiKansanHoshu.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
