<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Shougun.Core.Scale.Keiryou.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Shougun.Core.Scale.Keiryou.Properties.Settings.ConnectionString"
            connectionString="Data Source=SW08RDS01\SQLEXPRESS2008R2;Persist Security Info=True;User ID=sa;Password=203388"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <Shougun.Core.Scale.Keiryou.Properties.Settings>
            <setting name="ApDenpyouCtrl" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>KYOTEN_CD:拠点CD:True:0</string>
                        <string>KIHON_KEIRYOU:入出区分:True:1</string>
                        <string>NYUURYOKU_TANTOUSHA_CD:入力担当者:True:4</string>
                        <string>KEIRYOU_NUMBER:計量番号:True:6</string>
                        <string>RENBAN:年連番/日連番:True:9</string>
                        <string>UKETSUKE_NUMBER:受付番号:True:10</string>
                        <string>DENPYOU_DATE:伝票日付:True:11</string>
                        <string>UNPAN_GYOUSHA_CD:運搬業者CD:True:12</string>
                        <string>UNPAN_GYOUSHA_NAME:運搬業者名:True:13</string>
                        <string>SHASHU_CD:車種CD:True:14</string>
                        <string>SHARYOU_CD:車輌CD:True:16</string>
                        <string>SHARYOU_NAME_RYAKU:車輌名:True:17</string>
                        <string>UNTENSHA_CD:運転者CD:True:19</string>
                        <string>NINZUU_CNT:人数:True:21</string>
                        <string>GYOUSHA_CD:業者CD:True:22</string>
                        <string>GYOUSHA_NAME_RYAKU:業者名:True:23</string>
                        <string>GENBA_CD:現場CD:True:24</string>
                        <string>GENBA_NAME_RYAKU:現場名:True:25</string>
                        <string>TORIHIKISAKI_CD:取引先CD:True:26</string>
                        <string>TORIHIKISAKI_NAME_RYAKU:取引先名:True:27</string>
                        <string>NIZUMI_GYOUSHA_CD:荷積業者CD:True:29</string>
                        <string>NIZUMI_GYOUSHA_NAME:荷積業者名:True:30</string>
                        <string>NIZUMI_GENBA_CD:荷積現場CD:True:31</string>
                        <string>NIZUMI_GENBA_NAME:荷積現場名:True:32</string>
                        <string>NIOROSHI_GYOUSHA_CD:荷降業者CD:True:33</string>
                        <string>NIOROSHI_GYOUSHA_NAME:荷降業者名:True:34</string>
                        <string>NIOROSHI_GENBA_CD:荷降現場CD:True:35</string>
                        <string>NIOROSHI_GENBA_NAME:荷降現場名:True:36</string>
                        <string>KEITAI_KBN_CD:形態区分CD:True:41</string>
                        <string>MANIFEST_SHURUI_CD:マニ種類CD:True:44</string>
                        <string>MANIFEST_TEHAI_CD:マニ手配CD:True:46</string>
                        <string>EIGYOU_TANTOUSHA_CD:営業担当者:True:48</string>
                        <string>DENPYOU_BIKOU:伝票備考:True:53</string>
                        <string>TAIRYUU_BIKOU:滞留備考:True:54</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ApDetailCtrl" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>STACK_JYUURYOU:総重量:True:10</string>
                        <string>EMPTY_JYUURYOU:空車重量:True:20</string>
                        <string>WARIFURI_JYUURYOU:割振(Kg):True:30</string>
                        <string>WARIFURI_PERCENT:割振(%):True:40</string>
                        <string>CHOUSEI_JYUURYOU:調整(Kg):True:50</string>
                        <string>CHOUSEI_PERCENT:調整(%):True:60</string>
                        <string>YOUKI_CD:容器CD:True:70</string>
                        <string>YOUKI_SUURYOU:容器数量:True:80</string>
                        <string>YOUKI_JYUURYOU:容器重量:True:90</string>
                        <string>HINMEI_CD:品名CD:True:100</string>
                        <string>NISUGATA_SUURYOU:荷姿数量:True:150</string>
                        <string>NISUGATA_UNIT_CD:荷姿単位CD:True:160</string>
                        <string>MANIFEST_ID:ﾏﾆﾌｪｽﾄ番号:True:170</string>
                        <string>MEISAI_BIKOU:明細備考:True:180</string>
                    </ArrayOfString>
                </value>
            </setting>
        </Shougun.Core.Scale.Keiryou.Properties.Settings>
    </applicationSettings>
</configuration>