<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="DenManiJigyoushaIchiran.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="DenManiJigyoshaIchiran.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <userSettings>
    <DenManiJigyoushaIchiran.Properties.Settings>
      <setting name="JIGYOUSHA_KBN_TEXT" serializeAs="String">
        <value />
      </setting>
      <setting name="ICHIRAN_ALERT_KENSUU" serializeAs="String">
        <value />
      </setting>
      <setting name="JIGYOUSHA_NAME_TEXT" serializeAs="String">
        <value />
      </setting>
      <setting name="JIGYOUSHA_ADDRESS_TEXT" serializeAs="String">
        <value />
      </setting>
    </DenManiJigyoushaIchiran.Properties.Settings>
  </userSettings>
</configuration>
