<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="kankyouShogunMainMenu.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <kankyouShogunMainMenu.Properties.Settings>
      <setting name="UketsukeShushu" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UketsukeShukka" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShainHoshu" serializeAs="String">
        <value>True</value>
      </setting>
    </kankyouShogunMainMenu.Properties.Settings>
  </userSettings>
</configuration>