<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ItakuKeiyakushoKyokashoKigenHoshu.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="ItakukeiyakushokyokaShoukigenKanri.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <userSettings>
    <ItakuKeiyakushoKyokashoKigenHoshu.Properties.Settings>
      <setting name="Jigyoushakubun_Text" serializeAs="String">
        <value />
      </setting>
      <setting name="GyoushaCode_Text" serializeAs="String">
        <value />
      </setting>
      <setting name="GenbaCode_Text" serializeAs="String">
        <value />
      </setting>
      <setting name="ChiikiCode_Text" serializeAs="String">
        <value />
      </setting>
      <setting name="GyouseikyokaKubunCode_Text" serializeAs="String">
        <value />
      </setting>
      <setting name="KyokaNo_Text" serializeAs="String">
        <value />
      </setting>
      <setting name="KigenFrom_Value" serializeAs="String">
        <value />
      </setting>
      <setting name="KigenTo_Value" serializeAs="String">
        <value />
      </setting>
    </ItakuKeiyakushoKyokashoKigenHoshu.Properties.Settings>
  </userSettings>
</configuration>
