<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Shougun.Core.Common.HanyoCSVShutsuryoku.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
    <userSettings>
        <Shougun.Core.Common.HanyoCSVShutsuryoku.Properties.Settings>
            <setting name="HaniKbn" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DateSpecify" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DateSpecify2" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DateFrom" serializeAs="String">
                <value />
            </setting>
            <setting name="DateTo" serializeAs="String">
                <value />
            </setting>
            <setting name="KyotenCd" serializeAs="String">
                <value>99</value>
            </setting>
            <setting name="TorihikisakiCdFrom" serializeAs="String">
                <value />
            </setting>
            <setting name="TorihikisakiCdTo" serializeAs="String">
                <value />
            </setting>
            <setting name="GyoushaCdFrom" serializeAs="String">
                <value />
            </setting>
            <setting name="GyoushaCdTo" serializeAs="String">
                <value />
            </setting>
            <setting name="GenbaCdFrom" serializeAs="String">
                <value />
            </setting>
            <setting name="GenbaCdTo" serializeAs="String">
                <value />
            </setting>
            <setting name="NyuukinsakiCdFrom" serializeAs="String">
                <value />
            </setting>
            <setting name="NyuukinsakiCdTo" serializeAs="String">
                <value />
            </setting>
            <setting name="BankCdFrom" serializeAs="String">
                <value />
            </setting>
            <setting name="BankCdTo" serializeAs="String">
                <value />
            </setting>
            <setting name="BankShitenCdFrom" serializeAs="String">
                <value />
            </setting>
            <setting name="BankShitenCdTo" serializeAs="String">
                <value />
            </setting>
        </Shougun.Core.Common.HanyoCSVShutsuryoku.Properties.Settings>
    </userSettings>
</configuration>