<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Shougun.Core.Common.InsatsuSettei.Properties.Settings.KankyouShougunRGConnectionString"
      connectionString="Data Source=r-dev-db.willwave.jp\MSSQL2008R2;Initial Catalog=KankyouShougunRG;Persist Security Info=True;User ID=sa;Password=Ksgn203388"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>