<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  <userSettings>
    <KyokaShouIchiran.Properties.Settings>
      <setting name="KYOKA_KBN" serializeAs="String">
        <value />
      </setting>
      <setting name="FUTSU_KBN" serializeAs="String">
        <value />
      </setting>
      <setting name="KIKAN_KBN" serializeAs="String">
        <value />
      </setting>
      <setting name="HIDUKE_FROM" serializeAs="String">
        <value />
      </setting>
      <setting name="HIDUKE_TO" serializeAs="String">
        <value />
      </setting>
      <setting name="KYOKA_NO" serializeAs="String">
        <value />
      </setting>
      <setting name="GYOUSHA_CD" serializeAs="String">
        <value />
      </setting>
      <setting name="GENBA_CD" serializeAs="String">
        <value />
      </setting>
      <setting name="CHIIKI_CD" serializeAs="String">
        <value />
      </setting>
      <setting name="HOUKOKU_SHOU_BUNRUI_CD" serializeAs="String">
        <value />
      </setting>
      <setting name="ICHIRAN_HYOUJI_JOUKEN_DELETED" serializeAs="String">
        <value>False</value>
      </setting>    
      </KyokaShouIchiran.Properties.Settings>
  </userSettings>
</configuration>