<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Shougun.Core.PaperManifest.ManifestHimoduke.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Shougun.Core.PaperManifest.ManifestHimoduke.Properties.Settings>
            <setting name="SystemId" serializeAs="String">
                <value />
            </setting>
            <setting name="NextHaikibutuAmt" serializeAs="String">
                <value />
            </setting>
            <setting name="Mode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HIDUKE_FROM" serializeAs="String">
                <value />
            </setting>
            <setting name="HIDUKE_TO" serializeAs="String">
                <value />
            </setting>
            <setting name="DATE_TIME_TYPE" serializeAs="String">
                <value />
            </setting>
        </Shougun.Core.PaperManifest.ManifestHimoduke.Properties.Settings>
    </userSettings>
</configuration>